html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 36px;
	font-weight: 400;
	color: #000;
}

a,
a:link,
a:visited {
	text-decoration: underline;
}

p + p {
	margin-top: 1em;
}
