.btn,
a.btn {
	display: inline-block;
	padding: 7px 21px 10px 25px;
	border-radius: 100px;
	background-color: #000000;

	font-size: 17px;
	font-weight: 400;
	color: #fff;
	text-align: center;
	text-decoration: none;

	transition: background-color 0.2s ease-in;

	&:hover {
		background-color: #333;
	}

	&--wide {
		width: 100%;
	}
}
