.cards {
	display: flex;
	column-gap: 60px;
	@media (max-width: 767px) {
		flex-direction: column;
		row-gap: 20px;
		margin: 0 auto;
	}
}
.card {
	max-width: 315px;
	font-weight: 700;
	font-size: 17px;
	text-align: center;
}
.card-img {
	margin-bottom: 27px;
	&--mb2 {
		margin-bottom: 17px;
	}
	&--mb3 {
		margin-bottom: 19px;
	}
	@media (max-width: 360px) {
		margin-bottom: 10px;
	}
}
.card__info {
	max-width: 156px;
	margin: 0 auto;
	@media (max-width: 360px) {
		margin-bottom: 6px;
	}
}
.card__price {
	margin-bottom: 8px;
	font-weight: 400;
	margin-top: 17px;
	@media (max-width: 360px) {
		margin-top: 0;
	}
}
.card__btn {
	font-weight: 700;
	text-decoration: underline;
	transition: color 0.3s;
	&:hover {
		color: rgba(28, 27, 27, 0.7);
	}
}
